---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import ArticleHeader from "../../components/ArticleHeader.astro";
import ArticleImage from "../../components/ArticleImage.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import NewsletterSubscribe from "../../components/NewsletterSubscribe";

interface ImageModule {
    default: ImageMetadata;
}

const images = import.meta.glob<ImageModule>('../../images/*.{png,jpg,jpeg,webp}', { eager: true });

export const getStaticPaths = (async () => {
	const articles = await getCollection('blog');

    return articles.map(article => ({
        params: {slug: article.id},
        props: {article},
    }));
}) satisfies GetStaticPaths;

const { article } = Astro.props;
const { Content, headings } = await render(article);
---

<Layout title={article.data.title} description={article.data.excerpt}>
    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
            <ArticleHeader article={article} />

            <ArticleImage article={article} images={images} />

            <div class="mt-12 flex">
                <TableOfContents headings={headings} />

                <div class="mx-auto max-w-full">
                    <Prose>
                        <Content />
                    </Prose>

                    <div class="pt-8">
                        <NewsletterSubscribe client:visible />
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
